name: Audit PHP

on:
  workflow_call:

permissions:
  contents: read

jobs:
  php-matrix:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.php-matrix.outputs.versions }}
      highest: ${{ steps.php-matrix.outputs.highest }}
      lowest: ${{ steps.php-matrix.outputs.lowest }}
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: composer.json

      - uses: typisttech/php-matrix-action@v2
        id: php-matrix

  composer-audit:
    needs: php-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ${{ fromJSON(needs.php-matrix.outputs.versions) }}
        dependency-versions:
          - highest
        include:
          - php-version: ${{ needs.php-matrix.outputs.lowest }}
            dependency-versions: lowest
          - php-version: ${{ needs.php-matrix.outputs.highest }}
            dependency-versions: locked
    env:
      COMPOSER_NO_AUDIT: 1
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            composer.json
            composer.lock

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
  
      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - run: composer audit
