name: Lint GitHub Actions

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_call:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
